@import url("fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  outline: none;

  font-family: "Inter-Regular";
}

body {
  width: 100%;
  height: 100%;
}

label {
  color: #53575c;
  font-size: 12px;
  line-height: 15px;
}

.App {
  width: 100%;
  height: 100vh;
  background-image: url(/src/Components/form_toot/img/marek-piwnicki-5jay5exvpuE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgba(13, 14, 16, 0.8);
    .form_container {
      position: relative;
      .first_step {
        width: 312px;
        height: 0;
        overflow: hidden;
        background: linear-gradient(358.38deg, #21262d 23.81%, #252a30 98.62%);
        border-radius: 6px;
        
        .section_1 {
          display: flex;
          justify-content: space-between;
          .steps {
            display: flex;
            align-items: flex-start;
            margin-top: 8px;
            .step {
              width: 5px;
              height: 5px;
              border-radius: 50px;
              background: #53575c;
              margin-right: 3px;
            }

            .active {
              background: linear-gradient(
                178.34deg,
                #7d54f2 4.6%,
                #702be1 100.16%
              );
            }
          }
          .middle {
            margin-right: 10px;
            h6 {
              margin: 0;
              font-weight: bold;
              line-height: 19px;
              color: #f2f2f2;
            }
          }
          .exit {
            display: flex;
            justify-content: flex-start;
            margin-top: 4px;
            .exit_btn {
              width: 10px;
              height: 10px;
              background: none;
              background-image: url(/src/Components/form_toot/img/exit_btn.svg);
              background-position: center;
              background-size: cover;
            }
          }
        }

        .section_2 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 29px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
              border: 1px solid;
              border-color: blue;
            }
          }
        }
        .section_3 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 17px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              border: 1px solid;
              border-color: blue;
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
            }
          }
        }
        .section_4 {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 17px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px 44px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              border: 1px solid;
              border-color: blue;
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
            }
          }

          img {
            position: absolute;
            bottom: 21px;
            left: 15px;
          }
        }
        .section_5 {
          margin-top: 14px;
          .next_btn {
            width: 100%;
            height: 56px;
            background: linear-gradient(
              178.34deg,
              #7d54f2 4.6%,
              #702be1 100.16%
            );
            backdrop-filter: blur(10px);
            border-radius: 6px;
            color: #ffffff;
          }
        }
        .section_6 {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .social_networks {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 14px;
            .social_networks_btn {
              width: 65.49px;
              height: 36.65px;
              background: #393f47;
              border-radius: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              .linkedin_logo {
                display: block;
                width: 12px;
                height: 11px;
                background-image: url(/src/Components/form_toot/img/linkedin_logo.svg);
                background-position: center;
                background-size: cover;
              }
              .facebook_logo {
                display: block;
                width: 6.61px;
                height: 13.22px;
                background-image: url(/src/Components/form_toot/img/facebook_logo.svg);
                background-position: center;
                background-size: cover;
              }
              .google_logo {
                display: block;
                width: 10.82px;
                height: 10.82px;
                background-image: url(/src/Components/form_toot/img/google_logo.svg);
                background-position: center;
                background-size: cover;
              }
              .twitter_logo {
                display: block;
                width: 14.42px;
                height: 12.02px;
                background-image: url(/src/Components/form_toot/img/twitter_logo.svg);
                background-position: center;
                background-size: cover;
              }
            }
          }
        }
      }
      .second_step {
        width: 312px;
        height: 0;
        overflow: hidden;
        background: linear-gradient(358.38deg, #21262d 23.81%, #252a30 98.62%);
        border-radius: 6px;
        
        .section_1 {
          display: flex;
          justify-content: space-between;
          .steps {
            display: flex;
            align-items: flex-start;
            margin-top: 8px;
            .step {
              width: 5px;
              height: 5px;
              border-radius: 50px;
              background: #53575c;
              margin-right: 3px;
            }

            .active {
              background: linear-gradient(
                178.34deg,
                #7d54f2 4.6%,
                #702be1 100.16%
              );
            }
          }
          .middle {
            margin-right: 10px;
            h6 {
              margin: 0;
              font-weight: bold;
              line-height: 19px;
              color: #f2f2f2;
            }
          }
          .exit {
            display: flex;
            justify-content: flex-start;
            margin-top: 4px;
            .exit_btn {
              width: 10px;
              height: 10px;
              background: none;
              background-image: url(/src/Components/form_toot/img/exit_btn.svg);
              background-position: center;
              background-size: cover;
            }
          }
        }
        .section_2 {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 29px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px 44px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
              border: 1px solid;
              border-color: blue;
            }
          }
          .left_icon {
            position: absolute;
            bottom: 21px;
            left: 15px;
          }
          .right_icon_correct {
            display: none;
            position: absolute;
            bottom: 17px;
            right: 15px;
          }
          >.active {
            display: block;
          }
        }
        .section_3 {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 17px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px 44px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              border: 1px solid;
              border-color: blue;
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
            }
          }
          .left_icon {
            position: absolute;
            bottom: 21px;
            left: 15px;
          }
        }
        .section_4 {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 80px;
          margin-top: 17px;
          input {
            height: 56px;
            background: linear-gradient(
              358.38deg,
              (#090b0e 23.81%),
              (#0f1216 91.5%)
            );
            border-radius: 6px;
            padding: 13px 44px;
            caret-color: #fff;
            opacity: 0.34;
            color: white;

            &:focus {
              border: 1px solid;
              border-color: blue;
              background: linear-gradient(
              358.38deg,
              (#000000 100%),
              (#000000 100%)
            );
            }
          }
          .left_icon {
            position: absolute;
            bottom: 21px;
            left: 15px;
          }
          .right_icon_wrong {
            display: none;
            position: absolute;
            bottom: 17px;
            right: 15px;
          }
          .right_icon_correct {
            display: none;
            position: absolute;
            bottom: 17px;
            right: 15px;
          }
          >img.active {
            display: block;
          }
        }
        .section_5 {
          margin-top: 14px;
          .next_btn {
            width: 100%;
            height: 56px;
            background: linear-gradient(
              178.34deg,
              #7d54f2 4.6%,
              #702be1 100.16%
            );
            backdrop-filter: blur(10px);
            border-radius: 6px;
            color: #ffffff;
          }
        }
      }
      .third_step {
        position: absolute;
        right: -7rem;
        width: 548px;
        height: 0;
        overflow: hidden;
        background: linear-gradient(358.38deg, #21262d 23.81%, #252a30 98.62%);
        border-radius: 6px;
        .section_1 {
          display: flex;
          justify-content: space-between;
          .steps {
            display: flex;
            align-items: flex-start;
            margin-top: 8px;
            .step {
              width: 5px;
              height: 5px;
              border-radius: 50px;
              background: #53575c;
              margin-right: 3px;
            }

            >.active {
              background: linear-gradient(
                178.34deg,
                #7d54f2 4.6%,
                #702be1 100.16%
              );
            }
          }
          .middle {
            margin-right: 10px;
            h6 {
              margin: 0;
              font-weight: bold;
              line-height: 19px;
              color: #f2f2f2;
            }
          }
          .exit {
            display: flex;
            justify-content: flex-start;
            margin-top: 4px;
            .exit_btn {
              width: 10px;
              height: 10px;
              background: none;
              background-image: url(/src/Components/form_toot/img/exit_btn.svg);
              background-position: center;
              background-size: cover;
            }
          }
        }
        .section_2 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-top: 8px;
        }
        .section_3 {
          margin-top: 24px;
        }
      }
      >.active {
        // height: 504px;
        position: absolute;
        top: 7rem;
        overflow: unset;
        height: fit-content;
        padding: 16px;
      }
    }
  }
}
